{% load i18n%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SHG Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <style>

       @keyframes move{
            0%{transform:translateX(0);}
            100%{transform:translateX(-100%);}
                       }

          body{
               padding-top:45px;
               }

   </style>

    <style>
        body { background: rgb(252, 253, 254); }

        .navbar-custom {
            background-color:#536f8a;
             /* Change as needed */
        }

        .navbar-brand {
            display: flex;
            align-items: center;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .brand-text {
            display: flex;
            flex-direction: column; /* Odia above English */
            line-height: 1;
            color: black;
        }

        .brand-text span {
            display: block;
        }

        .brand-text .odia {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .brand-text .english {
            font-size: 1rem;
        }

        .sidebar { height: 100vh; background: #0e2b48; color: white; padding-top: 20px; position: sticky;top:0; transition:0.3s; }
        .sidebar a { color: white; display: block; padding: 10px; text-decoration: none; }
        .sidebar a:hover { background: #0a2540; }
        .sidebar.active{
            left:0;
        }
        .card{
             border-radius:12px;
             background:rgb(241, 242, 243);
             border:none;
             box-shadow:0 4px 15px rgba(0,0,0,0.1);
             }

        .stat-card { text-align: center; padding: 20px; }
        .paid { background: #1e7e5a; padding: 10px; border-radius: 5px; color:white; }
        .pending { background: #b33a3a; padding: 10px; border-radius: 5px; color:white; }

        .logo { width: 40px; margin-right: 8px; }
    </style>

    
</head>
<body>


<div style="position:fixed;top:0;width:100%;background:green;color:white;
overflow:hidden;height:40px;display:flex;align-items:center;z-index:1000;">

<div id="tickerText" style="white-space:nowrap;padding-left:100%;
animation:move 14s linear infinite;font-weight:bold;">
{% if meeting %}
🔔 Next SHG Meeting for {{request.session.user_shg}} is on {{meeting.meeting_date}} |
🔔 ପରବର୍ତ୍ତୀ SHG ବୈଠକ {{meeting.meeting_date}} ରେ ହେବ |
{% else %}
⚠ No meeting date fixed yet |
⚠ ଏପର୍ଯ୍ୟନ୍ତ ବୈଠକ ତାରିଖ ନିର୍ଦ୍ଧାରିତ ହୋଇନାହିଁ |
{% endif %}

</div>

</div>


<nav class="navbar navbar-expand-lg navbar-custom text-white">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo">
        <div class="brand-text">
            <span class="odia">ସହାୟିକା</span>
            <span class="english">Sahayika</span>
        </div>
    </a>
    <div class="d-flex ms-auto">
        <span class="text-white ms-3">{{ request.session.user_shg }}</span>
        
    </div>
  </div>
</nav>

<nav class="navbar navbar-light bg-light border-bottom">

<div class="container-fluid">
<button class="btn btn-light"onclick="toggleMenu()">☰</button>

</div>

</nav>



<div class="container-fluid">
    <div class="row">

       
        <div id="sidebar" class="col-md-2 sidebar d-none">
            <h4 class="text-center">{% trans "SHG Panel" %}</h4>
            <hr>
            <a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
            {% if request.session.user_role == "President" %}
            <a href="{% url 'member_list' %}">{% trans "Member" %}</a>
            <a href="{% url 'add_member' %}">{% trans "Add Member" %}</a>
            <a href="{% url 'add_loan' %}">{% trans "Add Loan" %}</a>


            {% endif %}
            <a href="{% url 'monthly_collection' %}">{% trans "Monthly Collection" %}</a>
            <a href="{% url 'loan_details' %}">{% trans "Loan Tracking" %}</a>
            <a href="{% url 'project_list' %}">{% trans "Project Management" %}</a>
            <a href="{% url 'logout' %}" onclick="return confirmLogout()" class="logout-btn text-danger"><i class="bi bi-box-arrow-right"></i> {% trans "Logout" %}</a>
        </div>

     
        <div id="content" class=" col-md-12 p-4" >
            <h3>{% trans "Welcome" %} {{ request.session.user_role }} {{ request.session.user_name }}</h3>
            <p>{% trans "Managing SHG Group:" %} {{ request.session.user_shg }}</p>
           
            {% if request.session.user_role == "President" %}

                <div class="card p-3 mb-3 shadow-sm">
                       <h5>📅 {% trans "Set Meeting Date" %}</h5>

                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}

                <form method="POST">
                  {% csrf_token %}

                 <div class="row">
                   <div class="col-md-10">
                      <input type="date" name="meeting_date" class="form-control" required>
                   </div>

                <div class="col-md-2">
                   <button type="submit" class="btn btn-primary">
                       {% trans "Set Date" %}
                   </button>
                 </div>
                </div>
               </form>
             </div>

        {% endif %}

           
            <div class="row mt-4">
                <div class="col-md-3 mb-2">
                    <div class="card p-3 shadow stat-card">
                        <h5>{% trans "Total Members" %}</h5>
                        <h3>{{ total_members }}</h3>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card p-3 shadow stat-card">
                        <h5>{% trans "Total Savings" %}</h5>
                        <h3> ₹{{ total_saving_all }}</h3>
                    </div>
                </div>
                <div class="col-md-3 mb-2" >
                    <div class="card p-3 shadow stat-card">
                        <h5>{% trans "Remaining Loans(Group + Personal)" %}</h5>
                        <h3> ₹{{ remaining_loans_amount }}</h3>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card p-3 shadow stat-card">
                        <h5>{% trans "Paid Loans(Group + Personal)" %}</h5>
                        <h3> {{ paid_loans_count }}</h3>
                    </div>
                </div>    
            </div>            

              <div class="row mt-4">

                <div class="col-md-3 mb-2">
                    <div class="card p-3 shadow stat-card">
                        <h5>{% trans "Total Group Loan (year)" %}</h5>
                        <h3>{{  total_loans_amount }}</h3>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                   <div class="card p-3 shadow stat-card">
                          <h5>{% trans "Active Loans (Group + Personal)" %}</h5>
                           <h3 class="{% if active_loans > 0 %}text-danger{% else %}text-success{% endif %}">
                               {{ active_loans }}
                           </h3>
                    </div>
                </div>

             <div class="col-md-3 mb-2">
                  <div class="card p-3 shadow stat-card">
                    <h5>{% trans "Current Monthly Collection" %}</h5>
                        <h3>₹ {{ total_saving }}</h3>
                   </div>
             </div>

             <div class="col-md-3 mb-2">
                   <div class="card p-3 shadow stat-card">
                       <h5>{% trans "Total Personal loan (year)" %}</h5>
                          <h3>{{ total_personal_loan_year }}</h3>
                    </div>
             </div>

            
            </div>

            
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card p-3 shadow">
                        <div class="card-header text-white" style="background:black;">{% trans "Monthly Collection Status" %}</div>

                          <div class="card-body">
                        
                         <label><b>{% trans "Paid Members" %}</b> ({{ saving_paid_count }})</label>
                         <div class="progress mb-3" style="height:25px;">
                         <div class="progress-bar bg-success"style="width: {{ saving_paid_percent }}%">
                         {{ saving_paid_percent|floatformat:0 }}%
                         </div>
                         </div>

                        
                        <label><b>{% trans "Pending Members" %}</b> ({{ saving_pending_count }})</label>
                        <div class="progress" style="height:25px;">
                        <div class="progress-bar bg-danger"style="width: {{saving_pending_percent }}%">
                        {{ saving_pending_percent|floatformat:0 }}%
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
              <div class="card p-3 shadow">
                 <div class="card-header text-white" style="background:black;">
                      {% trans "EMI Paid Status" %}</div>

                  <div class="card-body">
                

                    <label><b>{% trans "EMI Paid" %}</b> ({{ group_emi_paid_count }})</label>
                      <div class="progress mb-3" style="height:25px;">
                       <div class="progress-bar bg-success"style="width: {{  group_emi_paid_percent }}%">
                         {{  group_emi_paid_percent|floatformat:0 }}%
                       </div>
                       </div>

                  <label><b>{% trans "EMI Pending" %}</b> ({{ group_emi_pending_count }})</label>
                       <div class="progress" style="height:25px;">
                       <div class="progress-bar bg-danger"style="width: {{ group_emi_pending_percent }}%">
                         {{ group_emi_pending_percent|floatformat:0 }}%
                       </div>
                       </div>
                  </div>
               </div>
             </div>
            
            
           
            <div class="card mt-5 shadow">
                <div class="card-header"><h5>{% trans "Group Members" %}</h5></div>
                <div class= card-body>
                    <div class= table-responsive>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Role" %}</th>
                                    <th>{% trans "Phone" %}</th>
                                    <th>{% trans "Aadhaar No" %}</th>
                                    <th>{% trans "Aadhaar photo" %}</th>
                                    <th>{% trans "Photo" %}</th>
                                    <th>{% trans "Delete" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{ member.fullname }}</td>
                                    <td>{{ member.role }}</td>
                                    <td>{{ member.phone }}</td>
                                    <td>{{member.aadhaar_number}}</td>
                                    <td>{% if member.aadhaar_photo %}
                                       <img src="{{ member.aadhaar_photo }}" alt="Aadhaar Photo" width="80">
                                        {% else %}
                                        <span class="text-danger">Not uploaded</span>
                                        {% endif %}
                                    </td>

                                    <td>{% if member.profile_photo %}
                                        <img src="{{ member.profile_photo }}" alt="Profile Photo" width="80">
                                        {% else %}
                                        <span class="text-danger">Not uploaded</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user_role == "President" %}
                                         <a href="{% url 'delete_member' member.id %}" 
                                          class="btn btn-danger btn-sm"
                                          onclick="return confirm('Delete this member?');"> {% trans "Delete" %}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
       
    
    <div class="card p-3 shadow mt-4">
             <h5>{% trans "Group Financial Health" %}</h5>

                  <div class="progress">

                    <div class="progress-bar bg-success"
                         style="width: {{ total_saving }}%">
                                  {% trans "Savings" %} ₹{{ total_saving }}

                    </div>

                    <div class="progress-bar bg-warning"
                        style="width: {{ remaining_loans_amount }}%">
                                {% trans "Loans" %} ₹{{ remaining_loans_amount }}
                   </div>

                </div>

           </div>
        </div>
    </div>
</div>

<script>

{% if meeting %}

var meetingDate = new Date("{{ meeting.meeting_date|date:'Y-m-d' }}").getTime();
var now = new Date().getTime();

var distance = meetingDate - now;

var days = Math.floor(distance/(1000*60*60*24));

var text = "🔔 Next SHG Meeting for {{request.session.user_shg}} is on {{meeting.meeting_date}} | ";
text+="ପରବର୍ତ୍ତୀ SHG ବୈଠକ {{meeting.meeting_date}} ରେ ହେବ |";


{% else %}

var text = "⚠ No meeting date fixed yet | ";
text += "⚠ ଏପର୍ଯ୍ୟନ୍ତ ବୈଠକ ତାରିଖ ନିର୍ଦ୍ଧାରିତ ହୋଇନାହିଁ";

{% endif %}

document.getElementById("tickerText").innerHTML = text;


function toggleMenu(){

var sidebar = document.getElementById("sidebar");
var content = document.getElementById("content");

sidebar.classList.toggle("d-none");

if(sidebar.classList.contains("d-none")){
content.classList.remove("col-md-10");
content.classList.add("col-md-12");
}else{
content.classList.remove("col-md-12");
content.classList.add("col-md-10");
}

}
function confirmLogout() {
    return confirm("Are you sure you want to logout?");
}

</script>
</body>
</html>